@keyframes animation {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.inside div {
  position: absolute;
  width: 61px;
  height: 61px;
  border: 9px solid #0a0a0a;
  border-top-color: transparent;
  border-radius: 50%;
}
.inside div {
  animation: animation 1s linear infinite;
  top: 50px;
  left: 50px;
}
.outside {
  width: 32px;
  height: 32px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.inside {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.32);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.inside div { box-sizing: content-box; }